<form method="POST" action="/register">
  <label>Name
    <input name="name" required>
  </label>
  <label>Password
    <input type="password" name="password" required>
  </label>
  <button type="submit">Register</button>
</form>
<a href="/login">Login</a>